<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main> 
  <!-- end content -->
  
  <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
  {% include footer.html %}
  {% include javascripts.html %}
  
  <style>
    .apod-frame {
      border: 1px solid lightgray;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 0px 10px lightgray;
      margin-bottom: 20px;
    }

    .apod-title {
      background-color: lightgray;
      color: white;
      padding: 10px;
      font-size: 18px;
      text-align: center;
    }

    .apod-explanation {
      padding: 20px;
      font-size: 14px;
      line-height: 1.5;
    }
  </style>

  <div class="apod-frame">
    <img id="apod-image" src="" alt="Astronomy Picture of the Day">
    <div class="apod-title" id="apod-title"></div>
  </div>
  <div class="apod-explanation" id="apod-explanation"></div>

  <script>
    const imageElement = document.getElementById("apod-image");
    const titleElement = document.getElementById("apod-title");
    const explanationElement = document.getElementById("apod-explanation");
    const apiKey = "1ZSBQ0Aj50uSrkIbBMDtIu4cs2h65LTOLtgrdWG7";

    fetch(`https://api.nasa.gov/planetary/apod?api_key=${apiKey}`)
      .then(response => response.json())
      .then(data => {
        titleElement.innerText = data.title;
        imageElement.src = data.url;
        explanationElement.innerHTML = data.explanation;
      })
      .catch(error => {
        console.error(error);
      });
  </script>

  
  
</body>

</html>
