<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main> 
  <!-- end content -->
  
  <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
  {% include footer.html %}
  {% include javascripts.html %}
  
  <script>
   const imageElement = document.getElementById("apod-image");
   const titleElement = document.getElementById("apod-title");
    <br>
   </br>
   const explanationElement = document.getElementById("apod-explanation");
   const apiKey = "1ZSBQ0Aj50uSrkIbBMDtIu4cs2h65LTOLtgrdWG7";

   fetch(`https://api.nasa.gov/planetary/apod?api_key=${apiKey}`)
     .then(response => response.json())
     .then(data => {
       titleElement.innerText = data.title;
       imageElement.src = data.url;
       explanationElement.innerText = data.explanation;
     })
     .catch(error => {
       console.error(error);
     });
 </script>
  
  
</body>

</html>
