<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main> 
  <!-- end content -->
  
  <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
  {% include footer.html %}
  {% include javascripts.html %}
  
<!-- Include jQuery library from a CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(async function() {
  //Await the API response before updating the HTML
  const response = await $.ajax({
    url: "https://api.spacexdata.com/v3/launches/latest",
    dataType: "json"
  });

  //Update the HTML with the latest statistics
  $(".mission-name").text(response.mission_name);
  $(".launch-date").text(response.launch_date_local);
  $(".rocket-name").text(response.rocket.rocket_name);
  $(".launch-site").text(response.launch_site.site_name_long);
});
  </script>
  
  
</body>

</html>


