{% if page.image %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="image-box">
        <img class="page-image" src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-d-10 col-m-12 push-d-1 push-m-0">
      <!-- begin page -->
      <article class="page animate">
        <div class="page-head">
          <h1 class="page-title">{{ page.title | escape }}</h1>
        </div>
        <div class="page__content">
          {{ content }}
        </div>
        <div id="spacex-stats-container">
          <h2 id="flight-number"></h2>
          <p id="mission-name"></p>
          <p id="rocket-name"></p>
          <p id="launch-year"></p>
        </div>
      </article>
      <!-- end page -->
    </div>
  </div>
</div>
<script>
  const flightNumberElement = document.getElementById("flight-number");
  const missionNameElement = document.getElementById("mission-name");
  const rocketNameElement = document.getElementById("rocket-name");
  const launchYearElement = document.getElementById("launch-year");

  fetch("https://api.spacexdata.com/v3/launches/latest")
    .then(response => response.json())
    .then(data => {
      flightNumberElement.innerText = "Flight Number: " + data.flight_number;
      missionNameElement.innerText = "Mission Name: " + data.mission_name;
      rocketNameElement.innerText = "Rocket Name: " + data.rocket.rocket_name;
      launchYearElement.innerText = "Launch Year: " + data.launch_year;
    })
    .catch(error => {
      console.error(error);
    });
</script>
